<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="mystyle.css">
	<title>Ejercicio 4 - Card con Grid</title>
</head>
<body>
	<main class="page">
		<article class="card">
			<img class="card__image" src="assets/metallica.jpg" alt="Paisaje de montanas y lago">
			<div class="card__content">
				<h1 class="card__title">Metallica</h1>
				<p class="card__description">
					On New Year’s Eve, Chuck Norris promised that he’d lose 20 pounds. The next morning he shaved his chest and smiled as he realized that he’d lost 30. Chuck Norris lost his virginity before his dad did. It takes Chuck Norris 20 minutes to watch 60 Minutes. Chuck Norris can divide by zero. Mission Impossible was originally set in Chuck Norris’s house.
				</p>
				<p class="card__date">
					<span>Published:</span> June 10, 2026
				</p>
				<a class="card__button" href="#">More info</a>
			</div>
		</article>
	</main>
</body>
</html>
