<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="mystyle.css">
	<title>Ejercicio 2 - Temas Sass</title>
</head>
<body>
	<main class="themes">
		<section class="theme-demo theme-a">
			<div class="box base">
				<span>Base</span>
			</div>
			<div class="box important">
				<span>Important</span>
			</div>
			<div class="box warning">
				<span>Warning</span>
			</div>
			<p class="primary-font">Principal font</p>
			<p class="secondary-font">Secondary font</p>
			<div class="box shadow">
				<span>Box with shadow</span>
			</div>
		</section>

		<section class="theme-demo theme-b">
			<div class="box base">
				<span>Base</span>
			</div>
			<div class="box important">
				<span>Important</span>
			</div>
			<div class="box warning">
				<span>Warning</span>
			</div>
			<p class="primary-font">Principal font</p>
			<p class="secondary-font">Secondary font</p>
			<div class="box shadow">
				<span>Box with shadow</span>
			</div>
		</section>
	</main>
</body>
</html>
